<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta content="width=device-width, initial-scale=1" name="viewport" />
    <meta content="Carey Development, LLC" name="author" />
    
    <link th:href="@{/assets/global/plugins/font-awesome/css/font-awesome.min.css}" rel="stylesheet" type="text/css"></link>
    <link th:href="@{/assets/global/plugins/simple-line-icons/simple-line-icons.min.css}" rel="stylesheet" type="text/css"></link>
    <link th:href="@{/assets/global/plugins/bootstrap/css/bootstrap.min.css}" rel="stylesheet" type="text/css"></link>
    <link th:href="@{/assets/global/plugins/bootstrap-switch/css/bootstrap-switch.min.css}" rel="stylesheet" type="text/css"></link>
    
    <link th:href="@{/assets/global/css/components.min.css}" rel="stylesheet" id="style_components" type="text/css"></link>
    <link th:href="@{/assets/global/css/plugins.min.css}" rel="stylesheet" type="text/css"></link>
    
    <link th:href="@{/assets/layouts/layout3/css/layout.min.css}" rel="stylesheet" type="text/css"></link>
    <link th:href="@{/assets/layouts/layout3/css/themes/default.min.css}" rel="stylesheet" type="text/css" id="style_color"></link>
    <link th:href="@{/assets/layouts/layout3/css/custom.min.css}" rel="stylesheet" type="text/css"></link>
    
    <link rel="shortcut icon" th:href="@{/images/careydevicon.png}"></link> 
            
    <link th:href="@{/assets/pages/css/about.min.css}" rel="stylesheet" type="text/css" />
</head>