<header>
        <div class="page-header">
            <div class="page-header-top">
                <div class="container">
                    <div class="page-logo">
                        <a th:href="@{/}">
                            <img th:src="@{/images/careydevlogosm.png}" alt="logo" style="margin-top:5px"/>
                        </a>
                    </div>
                    <a href="javascript:;" class="menu-toggler"></a>
                </div>
            </div>            
            <div class="page-header-menu">
                <div class="container">
                    <div class="hor-menu  ">
                        <ul class="nav navbar-nav">
                            <li class="menu-dropdown classic-menu-dropdown">
                                <a href="http://careydevelopment.us"> Home
                                </a>
                            </li>
                            <li class="menu-dropdown classic-menu-dropdown">
                                <a th:href="@{/thymeleafTable}"> Thymeleaf Table
                                </a>
                            </li>
                         </ul>
                     </div>
                 </div>
             </div>
        </div>
</header>