<!DOCTYPE html>

<!--[if IE 8]> <html lang="en" class="ie8 no-js"> <![endif]-->
<!--[if IE 9]> <html lang="en" class="ie9 no-js"> <![endif]-->
<!--[if !IE]><!-->
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<!--<![endif]-->

    <head>
        <title>Successful Form Validation | Carey Development Demos</title>
        <meta content="Successful form validation" name="description" />
        <object th:include="/fragments/head :: head" th:remove="tag"></object>
        
        <link th:href="@{/assets/pages/css/profile.min.css}" rel="stylesheet" type="text/css" />
    </head>

    <body class="page-container-bg-solid">
		<div th:include="fragments/topmenuheader :: header"></div>
        <div class="page-container">
            <div class="page-content-wrapper">
                <div class="page-head" style="background-color:#eff3f8;padding-top:40px">
                    <div class="container">
                    	<div class="row" style="height:600px">
                    		<div class="col-md-6 ">
                                 <div class="portlet box blue">
                                    <div class="portlet-title">
                                         <div class="caption">
                                             <i class="icon-like"></i>
                                             <span class="caption-subject" style="position:relative;top:2px">Congratulations!</span>
                                         </div>
                                    </div> 
                    				<div class="portlet-body">
         								<h3>You have successfully submitted the form!</h3>
                            		</div>
                            	</div>
                            </div>
     					</div>
                    </div>
                </div>
            </div>
        </div>
        <div th:include="fragments/homefooter :: footer"></div>
        <script th:src="@{/assets/pages/scripts/profile.js}" type="text/javascript"></script>
    </body>
</html>